#about-me {
    background-color: #EBEBEB;
    min-height: 100vh;

    .main{
        width: 90%;
        margin: 0 auto;
        display: flex;

        img {
            width: 55%;
            margin: 100px 0;
        }

        .description {
            margin: auto;
            margin-right: 20px;
            min-width: 450px;
        }
    }
}

