.wrapper {
    background-color: #5157FF;
    min-height: 100vh;

    .main{
        width: 80%;
        margin: 0 auto;

        .greeting {
            color: white;
        }

        .text {
            font-size: 74px;
            font-family: futura;
            font-weight: 700;
            color: white;
        }
    }
}

