.wrapper {
    background-color: #5157FF;
    min-height: 100vh;

    .main{
        width: 80%;
        margin: 0 auto;

        .greeting {
            color: #EBEBEB;
            font-size: 27px;
            margin-bottom: 20px;
        }

        .text {
            font-size: 90px;
            font-family: futura;
            font-weight: 700;
            color: white;
        }
    }
}

