<div class="header-wrapper">
    <div class="header">
        <div class="header-box">
            <div class="works"><%= link_to "Works", root_path %></div>
            <div class="aboutme"><%= link_to "About me", root_path %></div>
            <div class="home"><%= link_to "Home", root_path %></div>
        </div>
    </div>
</div>