<%= render 'shared/header' %>
<div class="wrapper" id="about-me">
    <div class="main">
        
        <%= image_tag "about_me.png"%>
    </div>
</div>


<script type="module">


$(document).ready(function() {
    $('.header-wrapper').css('background-color', '#EBEBEB');
    $('.works a').css('color','black');
    $('.aboutme a').css('color','black');
    $('.home a').css('color','black');
    console.log("asdf");
});

</script>

