<%= render 'shared/header' %>
<div class="wrapper" id="about-me">
    <div class="main">
        <%= image_tag "about_me.png"%>
    </div>
</div>



<script>
$('.header-wrapper').css('background-color', '#EBEBEB');
</script>