<%= render 'shared/header' %>
<div class="wrapper">
    <div class="greeting">Hey, there</div>
    <div class="text">I AM A</div>
    <div class="text">GRAPHIC</div>
    <div class="text">DESIGNER</div>
    <div class="text">AND 3D</div>
    <div class="text">MODELER.</div>
    <div>
</div>